#conteudo  p {
	text-align: justify;
	font-size: 12pt;
	font-family: Calibri;
	display: inline;
	     
}

#conteudo {
	text-align: justify;
	text-justify: inter-word;
}

#conteudo  h1{
	font-size: 16pt;
	font-family: Calibri;
}

#conteudo  h2{
	font-size: 18pt;
	font-family: Calibri;
}
	  
#conteudo {
	    background-color: white;
	    
}

.center{
	font-size: 100pt;
	text-align: center;
}





